.admin-options{
margin: 10px auto;

}
.admin-options button{
    margin-right: 10px;
}
.admin-menu{
padding: 5px 35px;
}
.admin-deals{
padding: 5px 35px;
}
.admin-add-item{
padding: 5px 25px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    margin: 30px auto;
    margin-bottom: 50px;
    
}
.item-img{
width: 150px;
height: 110px;
}
.item-img img{
    width: 150px;
height: 110px;
}
.item-details{
    width: 50%;
    text-align:left;
    margin-left: 20px;
    
}
.item-details p{
    margin:0px 0px;
    width: 100%;
    overflow: hidden;
    
    
}
.desc{
    
    max-height: 52px;
    padding-bottom: 3px;
   
}
.item-details h4{
    overflow: hidden;
    margin:0px;
    border-bottom: 1px solid gray;
}

.item-options{
    margin-left: 75px;
}
.item-options button{
    cursor: pointer;
    display: block;
    
}
.edit-item{
    background-color: transparent;

padding: 5px 30px;
}
.delete-item{
    background-color: transparent;
margin-top: 10px;
padding: 5px 22px;
}
.delete-item:hover,.edit-item:hover{
    background-color: lightgray;
}
form{
    width: 50%;
    margin: 0px auto;
}
@media screen and (min-width:481px) and (max-width:768px) {
   
        .item{
            justify-content: space-between;
            width: 95%;
            margin: 30px auto;
            margin-bottom: 20px;
        }
        .item-img{
        background-color: black;
        width: 150px;
        height: 110px;
        }
        .item-details{
    
            width: 65%;
            text-align:left;
            margin-left: 20px;
            
        }
        .item-details p{
            font-size: small;

            width: 100%;
     
            
            
        }
     
        .desc{
            border-bottom: 1px solid lightgray;
            max-height: 50px;
        }
     
    
        
        .item-options{
            margin-left: 15px;
        }

        .edit-item{
  
        
        padding: 2px 30px;
        }
        .delete-item{
   
        margin-top: 10px;
        padding: 2px 22px;
        }
      
}
@media screen and  (max-width:481px){
  
       
        .item{
            display: block;
            width: 95%;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }
        .item-img{
        background-color: black;
        width: 95%;
        height: 110px;
        margin: 0px auto;
        }
        .item-details{
            width: 90%;
            margin: 0px auto;
        }

    
  
        
        .item-options{
            width: 75%;
            margin-left: 0px;
            margin: 0px auto;
        }
        .item-options button{
            display: inline-block;
            width: 40%;
            
        }
        .edit-item{
    
        
        padding: 3px 30px;
        }
        .delete-item{
          
    
        padding: 3px 22px;
        }
        
       
}