.navbar{
  background: #f98169 !important;
  margin-bottom: 0 !important;
  border-radius: 0;
  .container-fluid{
    margin-left: 6rem;
  }
  .navbar-brand{
    font-size: 2rem;
  }
  .fa-burger{
    margin: 4px;
    font-size: 28px;
  }
  a{
    color: #fff !important;
    font-weight: bold;
    margin: .7rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 3px;
    cursor: pointer;
  }
  li:hover{
    background: #f3a697;
    border-radius: 10px;
  }
}
.cart-link{
  position: relative;
  .cart-count{
    position: absolute;
    top: 10px;
    color: black;
  }
}

@media only screen and (max-width: 375px) {
  .container-fluid{
    margin-left: 0 !important;
  }
}

