@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


$myBlack: #000 ;
$myWhite: #fff;
$colorTheme:  #f98169;
$fontLightColor:rgb(102, 102, 102);
$myFont: 'Montserrat', sans-serif;

*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin  logo{
      color: $myBlack;
      padding: .6rem; 
      margin-left: 6rem;
      font-size: 1.8rem;
      font-family: $myFont;
      font-weight: bolder;
      cursor: pointer;
     
}

@mixin user-name{
     display: flex;
     font-size: 1.6rem;
     font-family: $myFont;
     padding: 2px;
     font-weight: bold;
     margin-top: 10px;
     margin-right: 2rem;
}

@mixin btn{
    font-size: 25px;
    font-family: $myFont;
    width: 30%;
    height: 45px;
    padding: 7px;
    margin: 10px;
    background: $myBlack;
    color: $myWhite;
    outline: none;
    border: none;
    border-radius: 10px;
}

@mixin login-signup {
     display: flex;
     flex-direction: column;
     margin: 6rem auto;
     padding: 1.4rem;
     border: none;
     font-family: $myFont;
     width: 95vw;
     text-align: center;
     h1{
         font-size: 45px;
         font-weight: bold;
     }
     p{
         width: 26vw;
         margin: 10px auto;
         text-align: center;
         color: $fontLightColor;
     }
     input{
         display: block;
         width: 25vw;
         height: 40px;
         margin: 15px auto;
         border-radius: 10px;
         outline: none;
         border: 1px solid $fontLightColor;
         color: $myBlack;
     }
     input[placeholder]{
         font-size: 20px;
         padding: 5px;
         color: $myBlack;
     }
     button{
        font-size: 25px;
        font-family: $myFont;
        width: 12vw;
        height: 45px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 10px;
        background: $myBlack;
        color: $myWhite;
        outline: none;
        border: none;
        border-radius: 10px;
     }
  }


  
